<div class="row">
	<div class="span2 offset2" align="center">
		<%= form_tag(create_multiple_awards_path, { remote: true }) do %>
			<% for student_id in @student_ids %>
				<%= hidden_field_tag "student_ids[]", student_id %>
			<% end %>
			<%= hidden_field_tag "user_class_id", @user_class_id %>
			<%= text_field_tag "behavior[title]", nil, size: 10 %>
			<%= select_tag "behavior[score]", 
				options_for_select((-10..10).collect{|x| ["#{x}점", x] }) %>
			<%= select_tag "behavior[is_detail]", 
				options_for_select({"이 항목을 추가하기" => 0, "이번만 사용하기" => 1}, 1) %>
			<%= submit_tag "submit" %>
		<% end %>
	</div>
</div>
