<% content_for :head do %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>
	  $(document).ready(function() {
	    $("#start_date").datepicker( { dateFormat: 'yy-mm-dd' });
	    $("#end_date").datepicker( { dateFormat: 'yy-mm-dd' });
	  });
  </script>
<% end %>

<div class="row">
	<%= form_tag("/awards", method: :get, class: "well form-inline") do %>
		<%= hidden_field_tag "user_class", @user_class.id %>
		From
		<%= text_field_tag "start_date", @start_date, class: "datepicker input-small" %>
		To
		<%= text_field_tag "end_date", @end_date, class: "datepicker input-small" %>
		<%= submit_tag "search" %>
	<% end %>
</div>
<div class="row" align="center">
	<div class="span4">
		<div class="tabbable tabs-left">
	        <ul class="nav nav-tabs">
	          <li class="active"><a href="#ALL" data-toggle="tab">All students</a></li>
	          <% for student_id in @awards_group_by.keys.select{|x| x != "ALL" } %>
	          	<li><%= link_to Student.find(student_id).name, "##{student_id}", { "data-toggle" => "tab" } %></li>
	          <% end %>
	        </ul>
	    </div>
	</div>
	<div class="span8">
	        <div class="tab-content">
		        <div class="tab-pane active" id="ALL">
		          <%= high_chart("ALL", @charts["ALL"]) %>
		        </div>
	         	<% for student_id in @awards_group_by.keys.select{|x| x != "ALL" } %>
	          		<div class="tab-pane" id="<%= student_id %>">
	          			<%= high_chart("#{student_id}", @charts["#{student_id}"]) %>
	          		</div>
	          	<% end %>
	        </div>
	    </div>
	</div>
</div>