<div class="row">
	<div class="tabbable"> 
	  <ul class="nav nav-tabs">
	  	<% for user_class in @user_classes %>
	  		<li><a href="#tab<%= user_class.id %>" data-toggle="tab"><%= user_class.title %></li>
	  	<% end %>
	  </ul>
	  <div class="tab-content">
	  	<% for user_class in @user_classes %>
	  	<% awards = user_class.awards.paginate(page: params["#{user_class.id}_page"]).order("created_at DESC") %>
	  		<div class="tab-pane" id="tab<%= user_class.id %>">
	  			<% for award in awards %>
	  				<li>
	  					<% if award.behavior.score > 0 %>
	  						<%= image_tag("http://pstatic.classdojo.com/img/awards/1.png") %>
	  					<% else %>
	  						<%= image_tag("http://pstatic.classdojo.com/img/awards/2.png") %>
	  					<% end %>
	  					<%= award.behavior.title %>
	  					<%= award.behavior.created_at %>
	  				</li>
	  			<% end %>
	    	</div>
	    	<%= will_paginate awards %>
	  	<% end %>
	  </div>
	</div>
</div>