<div class="class-item well" id="<%=user_class.id%>">
	<div class="span3">
		<div class="row">
			<div class="span1">
				<%= link_to image_tag("http://pstatic.classdojo.com/img/classes/0.png"), 
				 edit_user_class_path(user_class) %>
			</div>
			<div class="span2">
				<%= link_to user_class.title, edit_user_class_path(user_class) %>
			</div>
			<div class="span1">
				<%= remove_link user_class %>
			</div>
		</div>
	</div>
	<div class="pager">
		<li><%= link_to "시작 하기", user_class_path(user_class, 
	started: user_class.update_attributes(created_at: Time.now)) %></li>
		<li><%= link_to "기록 보기", awards_path(user_class: user_class) %></li>
	</div>
</div>
