<% provide(:title, "edit class") %>
<% content_for :scripts do %>
<script type="text/javascript">
	$(".draggable").click(function(){
		$(".draggable").draggable();
	});
</script>
<% end %>
<div id="container">
	<div class="row">
		<ul class="pager">
		  <li>
		    <%= link_to "Back", user_classes_path %>
		  </li>
		  <li>
		    <%= link_to "이 수업 시작 하기", user_class_path(@user_class, 
			started: @user_class.update_attributes(created_at: Time.now)), 
			{ class: "btn btn-mini btn-primary" } %>
		  </li>
		</ul>
	</div>
	<div class="tabbable"> 
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab1" data-toggle="tab">학생명단</a></li>
	    <li><a href="#tab2" data-toggle="tab">칭찬/꾸지람 종류 추가하기</a></li>
	    
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab1">
	      <p>
	      	<%= link_to "학생 등록하기", "#studentModal", 
	      	{ class: "btn btn-large btn-primary", "data-toggle" => "modal"} %>
	      	<%= link_to "Show Avatars", '#', onClick: "$('#avatars').toggle();" %>
	      </p>
	      <p>
	      	<%= render partial: "students/modal", locals: { user_class: @user_class } %>
	      </p>
	      <p id="avatars" style="display:none">
	      	<% for avatar in Avatar.all %>
	      		<%= image_tag avatar.photo.url, { class: "draggable", id: "avatar-#{avatar.id}" } %>
	      	<% end %>
	      </p>
	      <div id="ex2" class="jqDnR jqDrag">
			  I am an example Box "#ex2"<br />
			  You can *DRAG* Me.
			</div>
	      <div class="row">
			<ul class="students">
				<%= render partial: "students/list", locals: { user_class: @user_class, students: @students } %>
			</ul>	      
		  </div>
		</div>
	    
	    <div class="tab-pane" id="tab2">
	    	<div class="row-fluid" id="behaviors" align="center">
	    		<div class="span12">
	    			<div class="row-fluid">
	    				<div class="span6" id="good-behaviors">
	    					<h3>칭찬 종류</h3>
			    			<%= render @user_class.good_behaviors %>
			    		</div>
			    		<div class="span6" id="bad-behaviors">
			    			<h3>꾸지람 종류</h3>
			    			<%= render @user_class.bad_behaviors %>
			    		</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="row-fluid" align="center">
	    		<div class="span12" id="new-behaviors">
	    			<%= render partial: "new_behavior" %>
	    		</div>
			</div>
	    </div>

	    <div class="tab-pane" id="tab3">
	    	rewards
	    </div>
	  </div>
	</div>
</div>
