<div class="row" id="avatars">
	<%= render @avatars %>
</div>
<div class="row">
	<div class="span2">
		<%= link_to "New", '#', onClick: "$('#form').toggle();" %>
	</div>
</div>
<div class="row">
	<div class="span2" style="display:none" id="form">
		<%= form_for Avatar.new, remote: true do |f| %>
			<p>
				<%= f.file_field :photo %>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
</div>