<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://faye-on-heroku-ydy.herokuapp.com/faye.js" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= yield :head %>
  <%= yield :scripts %>
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="apple-touch-icon" href="icon.png"/>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |k, v| %>
    <div class="alert alert-<%= k %>"><%= v %></div>
  <% end %>
</div>

<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
